include /components/common/card/card.pug
include /components/rate-button/rate-button.pug
include ./slider/slider.pug

mixin room-tile-card({ photos, room, lux, price, stars, reviews })
  .room-tile-card
    +card({
      noPadding: true,
      lightShadow: true,
      style: {
        width: "inherit",
        height: "inherit",
        overflow: "hidden"
      }
    })
      .room-tile-card__slider
        +slider("slider-" + room + "-", photos)
      .room-tile-card__info
        .room-tile-card__numbers
          .room-tile-card__room-id
            span.room-tile-card__numero №&nbsp;
            span.room-tile-card__number= room
            span.room-tile-card__type= lux ? "\u00A0люкс" : ""
          .room-tile-card__cost
            span.room-tile-card__worth= price+"₽\u00A0"
            span.room-tile-card__timespan в сутки
        .room-tile-card__separator
        .room-tile-card__rating
          +rate-button({ id: "room-tile-card-rating-0", stars: stars })
          .room-tile-card__reviews
            strong #{reviews}&nbsp;
            span Отзывов
