@import "./slider/slider.scss";

.room-tile-card {
  max-width: 270px;

  &__slider {
    width: 268px;
    height: 151px;
  }

  &__info, &__rating {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__room-id {
    color: $dark100;
    font-weight: bold;
  }
}