.input {
  max-width: 320px;

  &__field {
    width: 320px;
    height: 44px;
    line-height: 18px;
    background: #ffffff;
    border: 1px solid $dark25;
    box-sizing: border-box;
    border-radius: 4px;
    padding-left: 15px;

    @media screen and (max-width: 350px) {
      width: 280px;
    }

    &::placeholder {
      color: $dark25;
    }

    &:hover, &:focus {
      border-color: $dark50;
    }
  }
}
