include /components/common/label/label.pug

mixin input({ id, title, type, placeholder })
  .input
    +label({ forId: id, text: title })
    input.input__field(type=type, placeholder=placeholder, id=id)
