.rate-button {
  cursor: pointer;
  display: inline-flex;

  &__star {
    width: 24px;
    height: 24px;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    & .material-icons {
      font-size: 24px;
      line-height: 20px;

      color: $primary; // fallback

      @supports (-webkit-text-fill-color: transparent) and
        ((background-clip: text) or (-webkit-background-clip: text)) {
        background: linear-gradient($primary, $primary-gradient);
        background: -webkit-linear-gradient($primary, $primary-gradient);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }
}
