.page.hidden
  section.uikit-section
    include ./color-palette/color-palette.pug
  section.uikit-section
    include ./text-samples/text-samples.pug

.page
  section.uikit-section
    include ./form-elements/form-elements.pug
