.page.hidden
  section.uikit-section
    include ./color-palette/color-palette.pug
  section.uikit-section
    include ./text-samples/text-samples.pug

.page.hidden
  section.uikit-section
    include ./form-elements/form-elements.pug

.page.hidden
  section.uikit-section
    include ./cards/cards.pug

.page
  section.headers-footers 
    include ./headers-footers/headers-footers.pug 
