+input({type: "email", id: "email", placeholder: "Email", title: "Text field", description: "default"})
+dropdown({title: "Dropdown", id: "dropdown-1", select: "Сколько гостей", options: [{name: "взрослые", value: 0}, {name: "дети", value: 0}, {name: "младенцы", value: 0}]})
