p
  +input({type: "email", id: "email", placeholder: "Email", title: "Text field"})

p
  +dropdown({
    title: "Dropdown", 
    id: "dropdown-0", 
    dataKey: "dropdown-0",
    text: "Сколько гостей"
  })
    +options({
      id: "options-0",
      plural: "гость,гостя,гостей",
      dataKey: "dropdown-0",
      detailed: false,
      useControls: true,
      options: [
        {name: "взрослые", value: 0}, 
        {name: "дети", value: 0}, 
        {name: "младенцы", value: 0}
      ]
    })

//- this doesn't really work
p
  +dropdown({
    title: "Dropdown (detailed)", 
    id: "dropdown-2", 
    dataKey: "dropdown-2",
    text: "Выбор комнат"
  })
    +options({
      plural: "опций,опции,опций",
      dataKey: "dropdown-2",
      detailed: true,
      useControls: false,

      options: [
        {name: "спальни", value: 0, plural: "спальня,спальни,спален"}, 
        {name: "кровати", value: 0, plural: "кровать,кровати,кроватей"}, 
        {name: "ванные комнаты", value: 0, plural: "ванная комната,ванные комнаты,ванных комнат"}
      ]
    })
    

//- +input({type: "email", id: "email", placeholder: "Email", title: "Text field", description: "default"})

p
  +masked-input({type: "text", id: "masked", placeholder: "ДД.ММ.ГГГГ", title: "Masked text field"})

p
  +date-dropdown({id: "date-dropdown-1", placeholder: "ДД.ММ.ГГГГ", title: "Date dropdown"})
