include /components/input/input.pug
include /components/options-dropdown/options-dropdown.pug
include /components/masked-input/masked-input.pug
include /components/date-picker/date-picker.pug
include /components/date-dropdown/date-dropdown.pug
include /components/filter-date-dropdown/filter-date-dropdown.pug
include /components/checkbox/checkbox.pug
include /components/radio/radio.pug
include /components/like-button/like-button.pug
include /components/rate-button/rate-button.pug
include /components/range-slider/range-slider.pug
include /components/button/button.pug
include /components/pagination/pagination.pug
include /components/expandable-checkbox-list/expandable-checkbox-list.pug
include /components/rich-checkbox/rich-checkbox.pug
include /components/bullet-list/bullet-list.pug
include /components/graphic-list/graphic-list.pug
include /components/comment/comment.pug


p
+input({ type: "email", id: "email", placeholder: "Email", title: "Text field" })

p
+options-dropdown({
  title: "Dropdown",
  id: "dropdown-0",
  dataKey: "dropdown-0",
  text: "Сколько гостей",
  plural: "гость,гостя,гостей",
  useControls: true,
  options: [
    {name: "взрослые", value: 0}, 
    {name: "дети", value: 0}, 
    {name: "младенцы", value: 0}
  ]
})

p
+options-dropdown({
  title: "Dropdown (detailed)", 
  id: "dropdown-2", 
  dataKey: "dropdown-2",
  text: "Выбор комнат",
  plural: "опций,опции,опций",
  detailed: true,
  useControls: false,

  options: [
    {name: "спальни", value: 0, plural: "спальня,спальни,спален"}, 
    {name: "кровати", value: 0, plural: "кровать,кровати,кроватей"}, 
    {name: "ванные комнаты", value: 0, plural: "ванная комната,ванные комнаты,ванных комнат"}
  ]
})

p
+date-dropdown({
  title: {
    left: "Date left",
    right: "Date right"
  },
  id: "date-dropdown-0",
  dataKey: "date-dropdown-0",
  text: "ДД.ММ.ГГГГ"
})

p
+filter-date-dropdown({
  title: "Filter date dropdown",
  id: "filter-date-dropdown-0",
  dataKey: "filter-date-dropdown-0",
  text: "Выберите даты"
})

p
+masked-input({ type: "text", id: "masked", placeholder: "ДД.ММ.ГГГГ", title: "Masked text field" })

p
+input({ type: "email", id: "sub-email", placeholder: "Email", title: "Subscription text field", submit: true })


p
h3(style="padding: 10px 0") checkbox buttons
div(style="padding-bottom: 10px")
  +checkbox({ id: "checkbox-0", text: "Можно курить", checked: false })
div(style="padding-bottom: 10px")
  +checkbox({ id: "checkbox-1", text: "Можно с питомцами", checked: true })
+checkbox({ id: "checkbox-2", text: "Можно пригласить гостей (до 10 человек)", checked: true })

p
h3(style="padding: 10px 0") radio buttons
+radio({ id: "radio-0", name: "sex", value: "male", text: "Мужчина", checked: true })
+radio({ id: "radio-1", name: "sex", value: "female", text: "Женщина" })

p
h3(style="padding: 10px 0") toggle
div(style="padding-bottom: 10px")
  +checkbox({ id: "checkbox-3", text: "Получать спецпредложения", checked: true, toggle: true })
+checkbox({ id: "checkbox-4", text: "Получать спецпредложения", checked: false, toggle: true })

 
p
h3(style="padding: 10px 0") like button
div(style="display: flex; justify-content: space-between; width: 90px")
  +like-button({ id: "like-0", text: 2 })
  +like-button({ id: "like-1", text: 12, clicked: true })

p
h3(style="padding: 10px 0") rate button
div(style="display: flex; justify-content: space-between; width: 260px")
  +rate-button({ id: "rate-0", stars: 4 })
  +rate-button({ id: "rate-1", stars: 5 })

p
+range-slider({ id: "range-0", title: "range slider", min: 0, max: 20000, start: 5000, end: 10000, units: "₽" })

p
h3(style="padding: 10px 0") buttons
div(style="display: flex; justify-content: space-between; width: 220px")
  +button({ id: "btn-0", type: "full", text: "click me" })
  +button({ id: "btn-0-d", type: "full", text: "click me", disabled: true })

p 
div(style="display: flex; justify-content: space-between; width: 220px")
  +button({ id: "btn-1", type: "border", text: "click me" })
  +button({ id: "btn-1-d", type: "border", text: "click me", disabled: true })

p
div(style="display: flex; justify-content: space-between; width: 140px")
  +button({ id: "btn-2", type: "link", text: "click me" })
  +button({ id: "btn-2-d", type: "link", text: "click me", disabled: true })

p
+button({ id: "btn-3", type: "full", text: "перейти к оплате", submit: true })

p
h3(style="padding: 10px 0") pagination
+pagination({ id: "pagination-0", text: "1 – 12 из 100+ вариантов аренды", total: 15, current: 1 })

p
+expandable-checkbox-list({
  id: "expandable-cb-0",
  title: "expandable checkbox list",
  expanded: true,
  list: [
    { text: "Завтрак", checked: false },
    { text: "Письменный стол", checked: true },
    { text: "Стул для кормления", checked: true },
    { text: "Кроватка", checked: true },
    { text: "Телевизор", checked: false },
    { text: "Шампунь", checked: false },
  ]
})

p
h3(style="padding: 10px 0") rich checkbox buttons
div(style="padding-bottom: 10px")
  +rich-checkbox({ id: "rich-checkbox-0", text: "Широкий коридор", description: "Ширина коридоров в номере не менее 91 см." })
+rich-checkbox({ id: "rich-checkbox-1", text: "Помощник для инвалидов", description: "На 1 этаже вас встретит специалист  и проводит до номера." })

p
h3(style="padding: 10px 0") bullet list
+bullet-list({
  title: "bullet list",
  list: [
    "Нельзя с питомцами",
    "Без вечеринок и мероприятий",
    "Время прибытия — после 13:00, а выезд до 12:00",
  ]
})

p
+graphic-list({
  list: [
    { icon: "insert_emoticon", title: "Комфорт", description: "Шумопоглощающие стены" },
    { icon: "location_city", title: "Удобство", description: "Окно в каждой из спален", noline: true },
  ]
})

p
+comment({
  userpic: "src/assets/samples/userpic-0.png",
  name: "Мурад Сарафанов",
  time: "5 дней назад",
  like: { id: "comment-like-0", text: 12, clicked: true },
  text: "Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.",
})
