include /components/common/label/label.pug

mixin dropdown({ id, title, description, dataKey, contentId, text })
  .input
    +label({ forId: id, text: title })

    button.dropdown(id=id, data-datakey=dataKey, data-contentid=contentId)
      span.dropdown__text= text
      i.dropdown__icon-expand
        span.material-icons expand_more
      