.dropdown {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;

  width: 100%;
  height: 44px;
  font-family: Montserrat;
  line-height: 24px;
  font-size: 14px;
  background: #ffffff;

  padding-left: 15px;
  padding-right: 17px;
  
  border: 1px solid $dark25;
  box-sizing: border-box;
  border-radius: 4px;

  &:focus, &:hover {
    border-color: $dark50;
  }

  &--highlight-border {
    border-color: $dark50;
  }

  &--sharpen-bottom-border {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  @media screen and (max-width: 350px) {
    max-width: 280px;
  }

  &__text {
    font-size: 14px;
    color: $dark75;
  }

  &__icon-expand {
    color: $dark50;
    display: flex;
    align-items: center;
  }

  &__content {
    position: absolute;
    top: 64px;
    z-index: 100;
    width: 100%;
    box-sizing: border-box;

    background-color: #ffffff;

    border: 1px solid $dark50;
    border-radius: 0 0 4px 4px;

    &--separate {
      top: 70px;
      border-radius: 4px;
    }
  }
}
