mixin button({ id, type, text, disabled, header, submit })
  -
    var modActive = ((disabled) ? " button--disabled" : "")
    var modSubmit = ((submit) ? " button--submit" : "")
    var modHeader = ((header) ? " button--header" : "")
    var mods = "button--" + type + modActive + modSubmit + modHeader
  button.button(id=id, class=mods)
    .button__content
      .button__text= text
      if submit
        i.material-icons arrow_forward
    