.date-dropdown {
  display: flex;
  justify-content: space-between;
  max-width: 320px;

  &__half {
    max-width: 150px;

    @media screen and (max-width: 350px) {
      max-width: 135px;
    }
  }
}