include /components/common/label/label.pug

mixin masked-input({ id, title, description, type, placeholder })
  -
    var maskedId = id + "-placeholder"
  .input
    +label({ forId: id, text: title })
    .masked-input
      input.input__field(
        type=type,
        id=id,
        class="js-masked-input"
      )
      span.masked-input__placeholder(id=`${maskedId}`)= placeholder
