@import "@/components/common/label/label.scss";

.masked-input {
  position: relative;
}

.masked-input__placeholder {
  position: absolute;
  top: 10px;
  left: 16px;
  display: block;
  color: $dark25;
}
