mixin color-sample(props)
  .color-sample
    .color-sample__color(style={"background-color": props.color})
    .color-sample__info
      span.color-sample__title= props.title
      span.color-sample__value= props.color
