mixin save-controls(props)
  .save-controls(class=`${props.classNames.container}`)
    button.save-controls__clear.invisible(class=`${props.classNames.clear}`) Очистить
    button.save-controls__apply(class=`${props.classNames.apply}`) Применить
