mixin save-controls({ classNames })
  .save-controls(class=`${classNames.container}`)
    button.save-controls__clear.invisible(class=`${classNames.clear}`) Очистить
    button.save-controls__apply(class=`${classNames.apply}`) Применить
