include ../button/button.pug

mixin header({ logo, user })
  .header
    img.header__logo(src=logo.src, alt=logo.alt)
    nav.header__navbar
      ul.header__links
        li.header__link.header__link--is-bold О нас
        li.header__link
          span Услуги
          span.material-icons expand_more
        li.header__link Вакансии
        li.header__link Новости
        li.header__link
          span Соглашения
          span.material-icons expand_more

      .header__user
        if user
          .header__userinfo
            span= user.name
        else
          .header__unregistered
            .header__login
              +button({ id: "btn-login", type: "border", text: "Войти", header: true })
            .header__register
              +button({ id: "btn-signup", type: "full", text: "Зарегистрироваться", header: true })
