.footer {
  background: #FFFFFF;
  box-shadow: 0px 10px 20px $dark05;

  &--simple {
    box-sizing: border-box;
    width: 768px;
    padding: 120px 104px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__simple-row {
    padding-bottom: 20px;
  }

  &__columns,
  &__copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    width: 1440px;
  }

  &__columns {
    height: 372px;
    padding: 100px 140px;
    box-shadow: 0px 1px 0px $dark10;
  }

  &__copyright {
    height: 70px;
    padding: 0 140px;
  }

  &__col {
    max-width: 260px;
    box-sizing: border-box;

    &--outer {
      min-width: 260px;
    }
  }

  &__list-item {
    padding-bottom: 15px;
  }

  &__link {
    color: $dark50;
    text-decoration: inherit;
    line-height: 17px;
  }

  &__icon {
    margin-left: 20px;
    font-size: 24px;
    line-height: 24px;
    color: $primary; // fallback

    @supports (-webkit-text-fill-color: transparent) and
    ((background-clip: text) or (-webkit-background-clip: text)) {
      background: linear-gradient($primary, $primary-gradient);
      background: -webkit-linear-gradient($primary, $primary-gradient);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}
