include /components/header/header.pug

+header({
  logo: {
    src: "src/assets/samples/logo.png",
    alt: "logo"
  }
})

div(style="height: 40px")

+header({
  logo: {
    src: "src/assets/samples/logo.png",
    alt: "logo"
  },
  user: {
    name: "Юлий Цезарь"
  }
})
