.date-picker {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;

  width: 320px;
  padding: 19px 20px 12px;
  box-sizing: border-box;

  border: 1px solid $dark25;
  border-radius: 4px;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 29px;
  }

  &__previous, &__next {
    cursor: pointer;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__heading {
    font-family: Quicksand, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 24px;
    color: $dark100;
  }
  
  &__controls {
    width: 100%;
  }
}

.arrow-left {
  $w: 18px;
  $h: 3px;
  $left: -2px;
  $top: 3px;

  position: relative;

  height: $h;
  width: $w;

  background-color: $purple;

  &::before,
  &::after {
    content: "";
    position: absolute;
    height: $h;
    width: 60%;
    background-color: inherit;
    left: $left;
  }

  &::before {
    top: -$top;
    transform: rotate(-45deg);
  }

  &::after {
    top: $top;
    transform: rotate(45deg);
  }
}

.arrow-right {
  @extend .arrow-left;
  transform: rotate(180deg);
}

.days-grid {
  width: 280px;
  margin-bottom: 13px;

  &__header {
    display: flex;
    flex-flow: row nowrap;
  }

  &__days {
    display: flex;
    flex-flow: row wrap;
  }

  &__cell {
    display: flex;
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    cursor: pointer;

    justify-content: center;
    align-items: center;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;

    color: $dark50;

    &--range {
      background-image: linear-gradient(180deg, #bb9cff19 0%, #8BA4F919 100%);
    }

    &--not-this-month {
      color: $dark25;
    }

    &--today {
      background-image: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
    }

    &--today, &--range-start, &--range-end {
      color: white;
      font-weight: bold;
      border-radius: 50%;
    }

    &--range-start, &--range-end {
      position: relative;
      background-image: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
      cursor: pointer;

      &::after {
        content: "";
        position: absolute;
        top: 0; left: 0; right: 0; bottom: 0;
        background-image: linear-gradient(180deg, #bb9cff19 0%, #8BA4F919 100%);
      }
    }
    
    &--range-start {
      &::after {
        border-radius: 50% 0 0 50%;
      }
    }

    &--range-end {
      &::after {
        border-radius: 0 50% 50% 0;
      }
    }

    &--heading {
      justify-content: center;
      padding: 0;
      font-weight: bold;
      color: $purple;
      cursor: default;
    }
  }
}
