include ../common/save-controls/save-controls.pug

mixin date-picker({ id, dataKey })
  -
    var weekdays = ["Пн", "Вт", "Ср", "Чт", "Пт", "Сб", "Вс"]

  .date-picker(id=id, data-datakey=dataKey)
    header.date-picker__header
      i.date-picker__previous
        span.material-icons arrow_back
      span.date-picker__heading Август 2019
      i.date-picker__next
        span.material-icons arrow_forward

    .days-grid
      header.days-grid__header
        each day in weekdays
          span.days-grid__cell.days-grid__cell--heading= day
      .days-grid__days

    +save-controls({
      classNames: {
        container: "date-picker__controls",
        clear: "date-picker__control",
        apply: "date-picker__control"
      }
    })
