.date-picker {
  width: 252px; // 7 * 36

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
  }

  &__heading {

  }
}

.arrow-left {
  $w: 18px;
  $h: 3px;
  $left: -2px;
  $top: 3px;

  position: relative;

  height: $h;
  width: $w;

  background-color: black;

  &::before, &::after {
    content: "";
    position: absolute;
    height: $h;
    width: 60%;
    background-color: black;
    left: $left;
  }

  &::before {
    top: -$top;
    transform: rotate(-45deg);
  }

  &::after {
    top: $top;
    transform: rotate(45deg);
  }

}

.arrow-right {
  @extend .arrow-left;
  transform: rotate(180deg);
}


.date-grid {
  width: 252px;

  &__header {
    display: flex;
    flex-flow: row nowrap;
  }

  &__days {
    display: flex;
    flex-flow: row wrap;
  }

  &__cell {
    display: flex;
    width: 36px;
    height: 36px;
    box-sizing: border-box;

    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;

    &--heading {
      justify-content: center;
      padding: 0;
    }
  }
}