include ../common/save-controls/save-controls.pug

mixin date-picker({ id, dataKey })
  -
    var weekdays = ["Пн", "Вт", "Ср", "Чт", "Пт", "Сб", "Вс"]

  .date-picker(id=id, data-datakey=dataKey)
    header.date-picker__header
      .date-picker__previous
        .arrow-left
      span.date-picker__heading Август 2019
      .date-picker__next
        .arrow-right

    .days-grid
      header.days-grid__header
        each day in weekdays
          span.days-grid__cell.days-grid__cell--heading= day
      .days-grid__days

    +save-controls({
      classNames: {
        container: "date-picker__controls",
        clear: "date-picker__control",
        apply: "date-picker__control"
      }
    })
