include /components/common/card/card.pug
include /components/date-dropdown/date-dropdown.pug
include /components/options-dropdown/options-dropdown.pug
include /components/button/button.pug

mixin room-card()
  .room-card
    +card({})
      .card__section
        .room-card__header
          .room-card__room-id
            span.room-card__numero №&nbsp;
            span.room-card__number 888
            span.room-card__type люкс
          .room-card__cost
            span.room-card__worth 9 990₽&nbsp;
            span.room-card__timespan в сутки
      .card__section
        +date-dropdown({
          title: {
            left: "Прибытие",
            right: "Выезд"
          },
          id: "date-dropdown-11",
          dataKey: "date-dropdown-11",
          text: "ДД.ММ.ГГГГ"
        })
      .card__section
        +options-dropdown({
          title: "Гости",
          id: "dropdown-11",
          dataKey: "dropdown-11",
          text: "Сколько гостей",
          plural: "гость,гостя,гостей",
          useControls: true,
          options: [
            {name: "взрослые", value: 0}, 
            {name: "дети", value: 0}, 
            {name: "младенцы", value: 0}
          ]
        })
      .card__section(style={"padding-bottom": "30px"})
        ul.room-card__costs
          li.room-card__feature
            span.room-card__feature-description 9 990₽ х 4 суток
            span.room-card__feature-cost 39 960₽
          li.room-card__feature
            span.room-card__feature-description Сбор за услуги: скидка 2 179₽
            .room-card__filler
              i.room-card__info
            span.room-card__feature-cost 0₽
          li.room-card__feature
            span.room-card__feature-description Сбор за дополнительные услуги
            .room-card__filler
              i.room-card__info
            span.room-card__feature-cost 300₽
      .card__section
        .room-card__total
          span Итого
          span.room-card__filler.room-card__filler--dots
          span 38 081₽
      .card__section
        +button({ id: "btn-11", type: "full", text: "забронировать", submit: true })
      