@import "@styles/fonts.scss";
@import "@styles/colors.scss";
@import "@styles/layout.scss";
@import "pages/ui-kit/ui-kit.scss";

html {
  font-family: Montserrat, sans-serif;
  font-weight: normal;
}

h1 {
  font-family: Quicksand, sans-serif;
  font-weight: normal;
}

body {
  text-align: left;
  padding: 1rem;
  margin: 0 auto;
}

div {
  // border: 1px solid crimson;
}