extends layout.pug
//- Include mixins here
include components/input/input.pug
include components/dropdown/dropdown.pug
include components/masked-input/masked-input.pug
include components/date-picker/date-picker.pug
block header
block content
  include pages/ui-kit/ui-kit.pug
block footer
