@import "@styles/fonts.scss";
@import "@styles/colors.scss";
@import "@styles/layout.scss";
@import "components/common/common.scss";
@import "pages/ui-kit/ui-kit.scss";

$material-icons-font-path: '~material-icons/iconfont/';
@import '~material-icons/iconfont/material-icons.scss';

html {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px
}

body {
  text-align: left;
  padding: 1rem;
  margin: 0 auto;

  color: $dark75;
}

.heading {
  font-family: Quicksand, sans-serif;
  font-style: normal;
  font-weight: bold;
  color: $dark100;
  margin: 0;
  padding: 0;
}

h1 {
  @extend .heading;
  font-size: 24px;
  line-height: 30px;
}

h2 {
  @extend .heading;
  font-size: 19px;
  line-height: 24px;
}

h3 {
  @extend .heading;
  font-family: Montserrat;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
}

button, input {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.hidden {
  display: none;
}

.invisible {
  visibility: hidden;
}

.container-relative {
  position: relative;
}
