extends layout.pug
include components/input/input.pug
block header
  h1 Components preview
block content
  include components/color-palette/color-palette.pug
  +input({type: "email", id: "email", placeholder: "Email", title: "Text field", description: "default"})
block footer
