extends layout.pug
//- Include mixins here
include components/input/input.pug
include components/common/dropdown/dropdown.pug
include components/options/options.pug
include components/masked-input/masked-input.pug
include components/date-picker/date-picker.pug
include components/date-dropdown/date-dropdown.pug

block header
block content
  include pages/ui-kit/ui-kit.pug
block footer
