/**
 * https://css-tricks.com/custom-styling-form-inputs-with-modern-css-features/
 * https://codepen.io/aaroniker/pen/ZEYoxEY?editors=0110
 */
@supports (appearance: none) {
  input[type="checkbox"] {
    appearance: none;
    position: relative;
    border: 1px solid $dark25;
    border-radius: 4px;
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    &:checked {
      border-color: $primary;

      &::after {
        content: "";
        display: table;
        position: absolute;
        top: 5px;
        left: 6px;
        border-style: solid;
        border-width: 2px 2px 0 0;
        border-image: linear-gradient(90deg, $primary, $primary-gradient) 1;
        box-sizing: border-box;
        width: 8px;
        height: 6px;
        transform: rotate(135deg);
      }
    }
  }

  input[type="radio"] {
    &:checked {

    }
  }
}
