mixin dropdown-content(props)
  .dropdown__content(
    id=props.id,
    data-dataKey=props.dataKey,
    class=props.modifier ? "dropdown__content--" + props.modifier : ""
  ).hidden
    if block
      block

