mixin dropdown-content({ id, dataKey, modifier })
  .dropdown__content(
    id=id,
    data-dataKey=dataKey,
    class=modifier ? "dropdown__content--" + modifier : ""
  ).hidden
    if block
      block

